<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <!-- Socket.io -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <!-- href="../public/stylesheets/style.css"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!-- href="../public/stylesheets/access.css"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/access.css">
    <script>
        /* intercepts echannel emit */
        var socket = io.connect();
        socket.on('connect', () => {
            console.log("socket connected");
        });
        socket.on('message', (v) => {
            console.log("access.ejs received " + v);
            if (v.indexOf("sonar2") >= 0) document.getElementById('envSonar').innerHTML = v;
            else document.getElementById('displaySonar').innerHTML = v;
        });

        var RobotModeEnum = {
            EXPLORE: 1,
            RETRIEVE: 2
        };
        var robotMode = RobotModeEnum.EXPLORE;
        // opens a socketio client on the running address
        var url = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '');
        var io = io(url);
        io.on('connect', () => {
            console.log("io socket connected");
        });
        io.on('disconnect', () => {
            console.log("disconnect");
        });
        // the event must be sent from appFrontendRobot.js
        // robot state update
        io.on('robot-state', data => {
            // console.log("robot state " + data);
            var robotType = null;
            switch (data.robotType) {
                case "explorer":
                    robotType = 'explorerRobotState';
                    break;
                case "retriever":
                    robotType = 'retrieverRobotState';
                    break;
                case "retrieverSonar":
                    robotType = 'retrieverSonar';
                    break;
            }
            if (robotType != null) {
                document.getElementById(robotType).innerHTML = data.status;
            }
        });
        // map extension
        io.on('extend-map', data => {
            // console.log("extend-map");
            increaseMapSize();
        });
        // coordinates update
        io.on('coordinates-update', data => {
            //console.log("symbol: " + data.symbol + " x: " + data.x + " y: " + data.y);
            //console.log("r: " + mapRows + " c: " + mapColumns);
            while (data.x >= mapRows) {
                //console.log("new row");
                addNewRow();
            }
            while (data.y >= mapColumns) {
                //console.log("new column");
                addNewColumn();
            }
            var childNumber = data.x * mapColumns + data.y + 1; // child count start from 1
            //console.log(childNumber);
            var cellElement = document.querySelector('div.grid-item:nth-child(' + childNumber + ')');
            cellElement.innerHTML = data.symbol;
        });
        // bomb detection
        io.on('bomb-detection', data => {
            // remove previous stored image
            //var container = document.getElementById('photoContainer');
            //var p = document.getElementById('photo');
            //container.removeChild(p);

            // create the new image
            var photo = document.getElementById('photo');//new Image();
            photo.id = 'photo';
            photo.src = 'data:image/png;base64,' + data;
            // document.getElementById('photoContainer').append(photo);

            var maxWidth = 330;
            var maxHeight = 330;
            var ratio = 0;  // Used for aspect ratio
            var width = photo.width;    // Current image width
            var height = photo.height;  // Current image height
            console.log("width: " + width + " height: " + height);

            // Check if the current width is larger than the max
            /*if (width > maxWidth) {
                ratio = maxWidth / width;   // get ratio for scaling image
                photo.height = maxWidth; // Set new width
                photo.height = height * ratio;  // Scale height based on ratio
                height = height * ratio;    // Reset height to match scaled image
                width = width * ratio;    // Reset width to match scaled image
            }*/

            // Check if current height is larger than max
            if (height > maxHeight) {
                ratio = maxHeight / height; // get ratio for scaling image
                photo.height = maxHeight;   // Set new height
                photo.width = width * ratio;    // Scale width based on ratio
                width = width * ratio;    // Reset width to match scaled image
                height = height * ratio;    // Reset height to match scaled image
            }

            // show modal
            $('#exampleModal').modal();
        });
        // switch cmd mode
        io.on('switch-cmd-mode', data => {
            switchVisibility("exploreMode");
            switchVisibility("retrieveMode");
            if (!data) {
                $("#retrieve").prop('disabled', true);
            }

        });
        // change button status
        // data.disable == true -> disables button
        // data.disable == false -> enables button
        io.on('change-button-status', data => {
            var buttonId = null;
            switch (data.button) {
                case "retrieveButton":
                    buttonId = "retrieve";
                    break;
                case "haltRetrieverButton":
                    buttonId = "haltRetriever";
                    break;
            }
            if (buttonId != null) {
                $("#" + buttonId).prop('disabled', data.disable);
            }
        });
        // environment conditions change
        io.on('environment-conditions-change', data => {
            var visibility;
            if (data) {
                visibility = "visible";
                switch (robotMode) {
                    case RobotModeEnum.EXPLORE:
                        changeExplorerButtonState(false, true, false);
                        break;
                    case RobotModeEnum.EXPLORE:
                        changeRetrieverButtonState(false, true, false);
                        break;
                }
            } else {
                visibility = "hidden";
            }
            $("#envConditionsError").css("visibility", visibility);
        });

        // button mode change
        function switchVisibility(elementId) {
            var cssTag = "display"
            var visibility = $("#" + elementId).css(cssTag);
            var res;
            // console.log(visibility);
            if (visibility == "inline") {
                res = "none";
            } else if (visibility == "none") {
                res = "inline";
            } else {
                res = "unset";
            }
            $("#" + elementId).css(cssTag, res);
        }

        // sends the command and enables/disables the buttons
        function sendAction(event, content) {
            switch (content) {
                case "explore":
                    changeExplorerButtonState(true, false, true);
                    break;
                case "halt":
                    changeExplorerButtonState(false, true, false);
                    break;
                case "home":
                    changeExplorerButtonState(true, true, true);
                    break;
                case "retrieve":
                    changeRetrieverButtonState(true, false, true);
                    break;
                case "haltRetriever":
                    changeRetrieverButtonState(false, true, false);
                    break;
                case "homeRetriever":
                    changeRetrieverButtonState(true, true, true);
                    break;
            }
            io.emit(event, content);
        }

        /**
         * Enables (false) disables (true) the exploration buttons
         * 
         * @param {*} exploreDisabled enables/disables explore button
         * @param {*} haltDisabled enables/disables halt button
         * @param {*} homeDisabled enables/disables back to home button
         */
        function changeExplorerButtonState(exploreDisabled, haltDisabled, homeDisabled) {
            $('#explore').prop('disabled', exploreDisabled);
            $('#haltExplorer').prop('disabled', haltDisabled);
            $('#homeExplorer').prop('disabled', homeDisabled);
        }

        /**
         * Enables (false) disables (true) the retrieval buttons
         * 
         * @param {*} exploreDisabled enables/disables retrieve button
         * @param {*} haltDisabled enables/disables halt button
         * @param {*} homeDisabled enables/disables back to home button
         */
        function changeRetrieverButtonState(exploreDisabled, haltDisabled, homeDisabled) {
            $('#retrieve').prop('disabled', exploreDisabled);
            $('#haltRetriever').prop('disabled', haltDisabled);
            $('#homeRetriever').prop('disabled', homeDisabled);
        }

        // map handling
        var mapRows = 1;
        var mapColumns = 1;
        var gridItemClass = "grid-item";
        var newCell = '<div class="grid-item">0</div>';
        var cssColumn = " auto";
        var columns = cssColumn;

        function getMapHtmlElement() {
            return document.getElementById("grid-container");
        }

        function addNewColumn() {
            mapColumns++;
            columns += cssColumn;
            var element = getMapHtmlElement();
            //console.log(element.innerHTML);
            element.style.gridTemplateColumns = columns;

            // insert new grid column
            for (var i = 0; i < mapRows; i++) {
                var childNumber = ((i + 1) * mapRows) + i;
                // console.log(childNumber);
                var cellElement = document.querySelector('div.grid-item:nth-child(' + childNumber + ')');
                // console.log(cellElement.innerHTML);
                // insert <div> after nth child
                cellElement.insertAdjacentHTML('afterend', newCell);
            }
        }

        function addNewRow() {
            mapRows++;
            var element = getMapHtmlElement();
            for (var i = 0; i < mapColumns; i++) {
                element.innerHTML += newCell;
            }
        }

        function increaseMapSize() {
            addNewColumn();
            addNewRow();
        }

        function getChildCount(parent, getChildrensChildren) {
            var relevantChildren = 0;
            var children = parent.childNodes.length;
            for (var i = 0; i < children; i++) {
                if (parent.childNodes[i].nodeType != 3) {
                    if (getChildrensChildren)
                        relevantChildren += getCount(parent.childNodes[i], true);
                    relevantChildren++;
                }
            }
            return relevantChildren;
        }

        // bomb detection modal
        function detectionResult(detected = false) {
            console.log("bomb detected " + detected);
            // ./appServer/routes/robotApplControlRoute
            if (detected) {
                sendAction("robot-control", "bombFound");
                //post("/applCommand/bombFound");
            } else {
                sendAction("robot-control", "bagClean");
                //post("/applCommand/bagClean");
            }
            $('#exampleModal').modal("hide");
        }

        function post(path, params = {}) {
            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", path);

            for (var key in params) {
                if (params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                }
            }

            document.body.appendChild(form);
            form.submit();

            setTimeout(function () { document.body.removeChild(form); }, 5000);
        }

        $(function () {
            console.log("page ready");
            changeExplorerButtonState(false, true, true);
            changeRetrieverButtonState(false, true, true);
            //$("#envConditionsError").css("visibility", "hidden");
        });
    </script>

</head>

<body>
    <!-- Bomb Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bomb Detection Panel</h5>
                </div>
                <div id="photoContainer" class="modal-body center-text">
                    <img id="photo" src="">
                </div>
                <div class="modal-footer">
                    Is target a bomb?
                    <button type="button" class="btn btn-secondary" onclick="detectionResult()">No</button>
                    <button type="button" class="btn btn-primary" onclick="detectionResult(true)">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <h2 class="center-text">
        <%= title %>
    </h2>

    <!-- from appFrontEndRobot -->
    <div id="controlsAreaGridContainer">

        <!-- Application command area -->
        <div id="applicationCommandArea">
            <h3 class="center-text">Application command area</h3>
            <table>
                <tr>
                    <div class="center-text">
                        <div id="exploreMode">
                            <!-- EXPLORE CMD -->
                            <button id="explore" type="button" class="btn btn-success btn-lg"
                                onclick="sendAction('robot-control', 'explore')">EXPLORE</button>

                            <!-- EXPLORER HALT CMD -->
                            <button id="haltExplorer" type="button" class="btn btn-danger btn-lg"
                                onclick="sendAction('robot-control', 'halt')">HALT</button>

                            <!-- EXPLORER BACK TO HOME CMD -->
                            <button id="homeExplorer" type="button" class="btn btn-warning btn-lg"
                                onclick="sendAction('robot-control', 'home')">BACK
                                TO HOME</button>
                        </div>

                        <div id="retrieveMode">
                            <!-- RETRIEVE CMD -->
                            <button id="retrieve" type="button" class="btn btn-success btn-lg"
                                onclick="sendAction('robot-control', 'retrieve')">RETRIEVE</button>

                            <!-- RETRIEVER HALT CMD -->
                            <button id="haltRetriever" type="button" class="btn btn-danger btn-lg"
                                onclick="sendAction('robot-control', 'haltRetriever')">HALT</button>

                            <!-- RETRIEVER BACK TO HOME CMD -->
                            <button id="homeRetriever" type="button" class="btn btn-warning btn-lg"
                                onclick="sendAction('robot-control', 'homeRetriever')">BACK
                                TO HOME</button>
                        </div>

                    </div>
                </tr>

                <div class="center-text">
                    <span id="envConditionsError" class="badge badge-danger" style="visibility: hidden">ALARM:
                        environment conditions dangerous for the robot job</span>
                </div>

            </table>
        </div>

        <!-- Robot info area -->
        <div id="robotInfoArea">
            <h3 class="center-text">Robot info area</h3>

            <div class="info">
                <b>EXPLORER ROBOT STATE</b> (dynamic): <span id="explorerRobotState"></span>
            </div>
            <div class="info">
                <b>RETRIEVER ROBOT STATE</b> (dynamic): <span id="retrieverRobotState"></span>
            </div>
            <div class="info">
                <b>RETRIEVER ROBOT SONAR</b> (dynamic): <span id="retrieverSonar"></span>
            </div>
            <!--<div class="info">
                    <b>ENV SONAR</b> (dynamic): <span id="envSonar"></span>
                </div>

                <p class="info">
                    <a href="http://<%= refToEnv %>">Description of the Robot Environment</a> (
                    <%= refToEnv %>)
                </p>-->
        </div>

        <!-- Robot virtual map area -->
        <div id="robotVirtualMapArea">
            <h3 class="center-text">Virtual map</h3>

            <div id="grid-container">
                <div class="grid-item">r</div>
            </div>
        </div>
    </div>


</body>

</html>