.center-text {
    text-align: center;
}

.btn {
    margin: 5px;
}

#controlsAreaGridContainer {
    display: grid;
    grid-template-areas: 'x x x y y y'
                         'a b b b b c';
    grid-gap: 10px;
    padding: 10px;
}

#applicationCommandArea {
    background-color: #D6EAF8;
    grid-area: x;
}

#robotInfoArea {
    background-color: #FFFF00;
    grid-area: y; 
}

#robotVirtualMapArea{
    background-color: rgb(0, 162, 255);;
    grid-area: b; 
}

.info {
    margin-left: 5%;
    margin-top: 6px;
    margin-bottom: 6px;
}

#grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 7px;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 7px;
    font-size: 25px;
    text-align: center;
}

#exploreMode {
    display: inline;
}

#retrieveMode {
    display: none;
}

#envConditionsError {
    margin-top: 13px;
    margin-bottom: 10px;
    font-size: 16px;
}

@media only screen and (max-width: 960px) {
    #controlsAreaGridContainer {
        grid-template-areas: 'x'
                             'y'
                             'b';
    }
}
